mixin carousel(slides = [], cls =[], numActive = 0, ...params)
  - const slidesCnt = slides.length;
  if slidesCnt
    div(class=['carousel', ...cls])
      .carousel__container
        if slidesCnt > 1
          a.carousel__navBtn.carousel__navBtn_prev(href='#' title=назад) 
            i.fa-solid.fa-angle-left.fa-3x
            span.carousel__navBtnLabel Назад
        .carousel__slidesContainer
          each slide, num in slides
            - const { image: { src = '',  alt = '' } = {}, title, desc = '' } = slide;
            div(class=['carousel__slide', {'carousel__slide_active': num === numActive}])
              if src
                .carousel__slideImg.carousel__slideImg_square
                  img.carousel__img(src=src alt=(alt || title))/
              h2.carousel__slideTitle= title
              if desc
                p.carousel__slideDesc!= desc
        if slidesCnt > 1
          a.carousel__navBtn.carousel__navBtn_next(href='#' title=вперед) 
            i.fa-solid.fa-angle-right.fa-3x
            span.carousel__navBtnLabel Назад
      if slidesCnt > 1    
        .carousel__pager
          each slide, num in slides
            a(class=['carousel__page', {'carousel__page_active': num === numActive}] href='#' title=`#${num+1} ${slide.title}`)            
              i.fa-solid.fa-star.fa-2x
              i.fa-regular.fa-star.fa-2x
              span.carousel__pageLabel= num 
