include ../../components/menu/tmpl
mixin baseLayout(pageName, ...params)
  - 
    const { pages  } = locals;
    const { pageTitle, browserTitle } = pages.filter(({ name }) => name == pageName).pop();
  doctype html
  html(lang='ru')
    head
      title= (browserTitle || pageTitle)
      meta(charset='utf-8')/
      meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')/
      meta(name="theme-color", content="#000000")/
      meta(name="msapplication-TileColor", content="#000000")/
      link(rel="apple-touch-icon", sizes="180x180", href="../../assets/images/favicon/apple-touch-icon.png")/
      link(rel="icon", type="image/png", sizes="32x32", href="../../assets/images/favicon/favicon-32x32.png")/
      link(rel="icon", type="image/png", sizes="16x16", href="../../assets/images/favicon/favicon-16x16.png")/
      link(rel="mask-icon", href="../../assets/images/favicon/safari-pinned-tab.svg", color="#5bbad5")/
      link(rel='stylesheet' href=`./${pageName}.scss`)/
    body(class=['page', `page_${pageName}`])
      header.layoutContainer.header.page__header  
        .header__logo Star Clicker
      main.layoutContainer.page__content        
        - 
          const menuItems = pages.map(({ name, pageTitle, menuTitle }) => ({
            name,
            title: menuTitle || pageTitle,
            link: name !== "main" ? `/${name}/` : '/'
          }));
        +menu(menuItems, pageName)
        if pageTitle
          h1.page__title= pageTitle
        if block
          block
      footer.layoutContainer.footer.page__footer
        .footer__logo
          img(src='../../assets/images/ithub-logo-transparent.png')/
        p#project.m-0.py-3.footer__note 
          strong Учебный проект 
          span создан в рамках обучения по программе на бизнес-роль &laquo;фронтенд-разработчик&raquo; для курса JS&nbsp;DOM
          a(name='project') 
      script(type='text/javascript' src=`./${pageName}.js`)
